.junbotron {
background-color: yellow;
color: black;
padding: 10px 10px 10px 10px; 
margin-top: 50px;
margin-bottom: 30px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 30px;
}

.btn {
background-color: blue;
color: white;
}

.card-hotel{
	flex: 1 150px;
	padding: 4px 5px 4px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
}

